@import '../../theme/styles/keyframes.scss';
@import '../../theme/fonts/fonts.scss';

.overview {
  background-image: url('../../../public/static/images/placeholders/covers/dashboard.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
